<body class="skin-blue" >
    <div class="wrapper">
      
      <header class="main-header">
        <a href="#" class="logo"><b>Link</b>Trunks</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">                         
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="/media/dist/img/avatar.jpeg" class="user-image " alt="User Image"/>
                  <span id="user_name_bar" class="hidden-xs"></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="/media/dist/img/avatar.jpeg" class="img-circle" alt="User Image" />
                    <p id="user_name_p">
                      User 
                    </p>
                  </li>
                 
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                            <button class="btn btn-block btn-default">settings</button>
                    </div>
                    <div class="pull-right">
                        <button id=signout class="btn btn-block btn-default">Sign out</button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>